@use '../../styles/mixins';
@import '../../styles/variables';

.pagination {
  text-align: center;
  margin-top: 7px;
  span {
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 24px;
    border: 1px solid $border-color;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba($color: $font-color, $alpha: 0.3);
    @include mixins.noselect();
    &:hover {
      border-color: rgba($color: $font-color, $alpha: 0.3);
    }
    &:active {
      border-color: rgba($color: $font-color, $alpha: 0.3);
      background-color: lighten($color: $background-color, $amount: 10);
      transform: translateY(1px);
    }
  }
  .navigate {
    width: auto;
    padding: 0 7px;
  }
  .active {
    border-color: rgba($color: $font-color, $alpha: 0.3);
    // border-color: $font-color;
    color: $font-color;
  }

  .description {
    margin: 7px auto;
    color: rgba($color: $font-color, $alpha: 0.3);
  }
}
