/*
===============
===use

 @import 'styles/variables'
 
 color: $main-color;
 .button {
  color: $main-color;
 }


*/

$background-color: #091928;
$border-color: rgba(255, 255, 255, 0.075);
$font-color: white;

// $screent-xxs: 320px;
// $screen-xs: 550px;
// $screen-sm: 850px;
// $screen-md: 1030px;
// $screen-lg: 1400px;
