@import './styles/variables';

.app {
  border-radius: 10px;
  border: 1px solid $border-color;
  color: #d5dde1;
  background-color: #091928;
  margin: 15px;
  padding: 10px;
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  .search {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 10px;
    border: 1px solid $border-color;
    background-color: $background-color;
    border-radius: 10px;
    font-size: 1.4rem;
    color: rgba($color: $font-color, $alpha: 0.3);
    cursor: pointer;
    &:hover {
      border-color: rgba($color: $font-color, $alpha: 0.3);
    }
    &:active {
      border-color: rgba($color: $font-color, $alpha: 0.3);
      background-color: lighten($color: $background-color, $amount: 10);
      transform: translateY(1px);
    }
  }
}
